# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# Debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# Node
node_modules/

# Google Services - SENSITIVE FILES
google-services.json
GoogleService-Info.plist

# Environment variables
.env
.env.local
.env.production
.env.development
